/*-----------------------------
    GENERAL
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #282e2f;
  width: 90%;
  margin: auto;

  --color-main: #00ffc2;
}

.card-svg {
  width: 100%;
  max-width: 1190px;
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.parting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

/*-----------------------------
    NAVIGATION
-----------------------------*/
.header {
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 10em;
}
.logo {
  width: 40%;
}
.logo-text {
  color: var(--color-main);
  font-size: 1.4rem;
  letter-spacing: 2px;
}
nav {
  width: 60%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.list {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  max-width: 1000px;
}
.list-item {
  letter-spacing: 3px;
  font-weight: bold;
}
.white {
  color: white;
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55%;
  right: 5%;
}
.sidebar img {
  max-width: 40px;
  margin-top: 2em;
}

/*-----------------------------
    HERO
-----------------------------*/
.hero {
  display: flex;
  max-width: 1500px;
  margin: auto;
}

/*-----------------------------
    SKILLS
-----------------------------*/
.skills-container {
  height: 1000px;
  margin-top: 5em;
  position: relative;
}
.skills {
  position: relative;
  height: 700px;
  width: 60%;
  max-width: 1000px;
  min-width: 900px;
  margin: auto;
  border: 3px solid rgba(63, 64, 64, 0.36);
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}
.title-skills h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 40px;
  letter-spacing: 2px;
}

.svg-1 {
  width: 80px;
}
.svg-2 {
  width: 60px;
}

.react-svg {
  position: absolute;
  top: 250px;
  left: 150px;
}
.node-svg {
  position: absolute;
  top: 200px;
  right: 180px;
}
.js-svg {
  position: absolute;
  top: 500px;
  left: 250px;
}
.css-svg {
  position: absolute;
  top: 430px;
  right: 150px;
}
.express {
  position: absolute;
  top: 460px;
  right: 350px;
  animation-delay: 0.5s;
}
.html5 {
  position: absolute;
  top: 400px;
  left: 100px;
  animation-delay: 0.5s;
}
.scss {
  position: absolute;
  top: 180px;
  left: 300px;
}
.puppeteer {
  position: absolute;
  top: 230px;
  left: 450px;
  animation-delay: 0.7s;
}
.mongodb {
  position: absolute;
  top: 350px;
  left: 330px;
}
.postgresql {
  position: absolute;
  top: 600px;
  left: 380px;
  animation-delay: 0.2s;
}
.github {
  position: absolute;
  top: 130px;
  left: 120px;
  animation-delay: 1.5s;
}
.bootstrap {
  position: absolute;
  top: 300px;
  left: 700px;
  animation-delay: 0.9s;
}
.git {
  position: absolute;
  top: 330px;
  right: 330px;
  animation-delay: 1s;
}
.figma {
  position: absolute;
  top: 580px;
  left: 130px;
  animation-delay: 1s;
}
.heroku {
  position: absolute;
  top: 130px;
  right: 130px;
  animation-delay: 0.2s;
}
.netlify {
  position: absolute;
  top: 570px;
  right: 250px;
  animation-delay: 0.5s;
}
.json {
  position: absolute;
  top: 530px;
  right: 80px;
  animation-delay: 1.3s;
}

.flying-text {
  position: absolute;
  font-weight: 300;
  color: var(--color-main);
  animation-name: fly;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fly {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg) translateX(5px) rotate(-180deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(360deg) translateX(5px) rotate(-360deg);
    opacity: 1;
  }
}

/*-----------------------------
    ABOUT ME
-----------------------------*/
.about-me-container {
  height: 1000px;
  margin-top: 5em;
  position: relative;
}
.about-me {
  height: 700px;
  width: 60%;
  max-width: 1000px;
  margin: auto;
  border: 3px solid rgba(63, 64, 64, 0.36);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}
.title h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: -1px;
  letter-spacing: 1px;
}

.about-me-text-1,
.about-me-text-2 {
  width: 50%;
  min-width: 500px;
  text-align: justify;
  line-height: 25px;
  font-weight: 300;
}
.txt-special-color {
  color: var(--color-main);
}

.btn-work {
  width: 300px;
  height: 60px;
  background-color: #282e2f;
  border: 3px solid var(--color-main);
  border-radius: 15px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.shapes {
  position: absolute;
  width: 350px;
  left: 120px;
  top: 450px;
  z-index: -1;
}

/*-----------------------------
    PROJECT
-----------------------------*/

/*-----------------------------
    GLOBAL FUNCTIONALITY
-----------------------------*/
.title-style {
  position: relative;
}
.title-style:after {
  content: "";
  position: absolute;
  height: 50px;
  width: 100px;
  right: -13px;
  bottom: -3px;
  border-right: 3px solid var(--color-main);
  border-bottom: 3px solid var(--color-main);
}
