/*-----------------------------
    GENERAL
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: $base-color;
  background-color: $background-color;
  min-width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*-----------------------------
    Mobile View
-----------------------------*/
.mobile-header,
.skills-container-m,
.about-me-container-m,
.projects-container-m,
.contact-container-m {
  display: none;
}

/*-----------------------------
    GLOBAL FUNCTIONALITY
-----------------------------*/
.title-style {
  position: relative;
}
.title-style:after {
  content: "";
  position: absolute;
  height: 50px;
  width: 100px;
  right: -13px;
  bottom: -3px;
  border-right: 3px solid $special-color;
  border-bottom: 3px solid $special-color;
}
.title-style-m {
  position: relative;
}
.title-style-m:after {
  content: "";
  position: absolute;
  height: 30px;
  width: 50px;
  right: -7px;
  bottom: -3px;
  border-right: 3px solid $special-color;
  border-bottom: 3px solid $special-color;
}
.parting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
