/*-----------------------------
    NAVIGATION
-----------------------------*/
.header {
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 10em;
  width: 90%;
  margin: 0 auto 170px auto;
}
.logo {
  width: 40%;
}
.logo-text {
  color: $special-color;
  font-size: 1.4rem;
  letter-spacing: 2px;
}
nav {
  width: 60%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.list {
  display: flex;
  justify-content: space-between;
  margin-right: 200px;
  max-width: 1000px;
}
.list-item {
  position: relative;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
}
.list-item::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: $special-color;
  transition: 0.3s ease-out;
}
.list-item:hover::after {
  left: 0;
  width: 100%;
}

.white {
  color: white;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 700px;
  right: 100px;
  z-index: 10;
}

.sidebar img {
  max-width: 40px;
  margin-top: 2em;
}

.sidebar a img:hover {
  transform: scale(1.5);
}

.social-icons-m a img:hover {
  transform: scale(1.3);
}

/*-----------------------------
      HERO
  -----------------------------*/
.hero {
  display: flex;
  max-width: 1500px;
  margin: auto;
}
.card-svg {
  width: 100%;
  max-width: 1190px;
}
.triangle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
