/*-----------------------------
    GENERAL
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #282e2f;
  min-width: 100%;
}

/*-----------------------------
    Mobile View
-----------------------------*/
.mobile-header,
.skills-container-m,
.about-me-container-m,
.projects-container-m,
.contact-container-m {
  display: none;
}

/*-----------------------------
    GLOBAL FUNCTIONALITY
-----------------------------*/
.title-style {
  position: relative;
}

.title-style:after {
  content: "";
  position: absolute;
  height: 50px;
  width: 100px;
  right: -13px;
  bottom: -3px;
  border-right: 3px solid #00ffc2;
  border-bottom: 3px solid #00ffc2;
}

.title-style-m {
  position: relative;
}

.title-style-m:after {
  content: "";
  position: absolute;
  height: 30px;
  width: 50px;
  right: -7px;
  bottom: -3px;
  border-right: 3px solid #00ffc2;
  border-bottom: 3px solid #00ffc2;
}

.parting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

/*-----------------------------
    NAVIGATION
-----------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin-bottom: 10em;
  width: 90%;
  margin: 0 auto 170px auto;
}

.logo {
  width: 40%;
}

.logo-text {
  color: #00ffc2;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

nav {
  width: 60%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 200px;
  max-width: 1000px;
}

.list-item {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
}

.white {
  color: white;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 700px;
  right: 100px;
}

.sidebar img {
  max-width: 40px;
  margin-top: 2em;
}

/*-----------------------------
      HERO
  -----------------------------*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  margin: auto;
}

.card-svg {
  width: 100%;
  max-width: 1190px;
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/*-----------------------------
    SKILLS
-----------------------------*/
.skills-container {
  margin-top: 100px;
  position: relative;
}

.skills {
  position: relative;
  height: 700px;
  max-width: 900px;
  min-width: 900px;
  margin: auto;
  border: 3px solid rgba(63, 64, 64, 0.36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
}

.title-skills h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 40px;
  letter-spacing: 2px;
}

.svg-1 {
  width: 80px;
}

.svg-2 {
  width: 60px;
}

.react-svg {
  position: absolute;
  top: 250px;
  left: 150px;
}

.node-svg {
  position: absolute;
  top: 200px;
  right: 180px;
}

.js-svg {
  position: absolute;
  top: 500px;
  left: 250px;
}

.css-svg {
  position: absolute;
  top: 430px;
  right: 150px;
}

.express {
  position: absolute;
  top: 460px;
  right: 350px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.html5 {
  position: absolute;
  top: 400px;
  left: 100px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.scss {
  position: absolute;
  top: 180px;
  left: 300px;
}

.puppeteer {
  position: absolute;
  top: 230px;
  left: 450px;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.mongodb {
  position: absolute;
  top: 350px;
  left: 330px;
}

.postgresql {
  position: absolute;
  top: 600px;
  left: 380px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.github {
  position: absolute;
  top: 130px;
  left: 120px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.bootstrap {
  position: absolute;
  top: 300px;
  left: 700px;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.git {
  position: absolute;
  top: 330px;
  right: 330px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.figma {
  position: absolute;
  top: 580px;
  left: 130px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.heroku {
  position: absolute;
  top: 130px;
  right: 130px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.netlify {
  position: absolute;
  top: 570px;
  right: 250px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.json {
  position: absolute;
  top: 530px;
  right: 80px;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.flying-text {
  position: absolute;
  font-weight: 300;
  color: #00ffc2;
  -webkit-animation-name: fly;
          animation-name: fly;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg);
            transform: rotate(0deg) translateX(5px) rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg) translateX(5px) rotate(-180deg);
            transform: rotate(180deg) translateX(5px) rotate(-180deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg);
            transform: rotate(360deg) translateX(5px) rotate(-360deg);
    opacity: 1;
  }
}

@keyframes fly {
  0% {
    -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg);
            transform: rotate(0deg) translateX(5px) rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg) translateX(5px) rotate(-180deg);
            transform: rotate(180deg) translateX(5px) rotate(-180deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg);
            transform: rotate(360deg) translateX(5px) rotate(-360deg);
    opacity: 1;
  }
}

/*-----------------------------
    ABOUT ME
-----------------------------*/
.about-me-container {
  position: relative;
  width: 900px;
  margin: 100px auto 0 auto;
}

.about-me {
  height: 700px;
  max-width: 900px;
  min-width: 900px;
  margin: auto;
  border: 3px solid rgba(63, 64, 64, 0.36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
}

.title h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: -1px;
  letter-spacing: 1px;
}

.about-me-text-1,
.about-me-text-2 {
  width: 50%;
  min-width: 500px;
  text-align: justify;
  line-height: 25px;
  font-weight: 300;
}

.txt-special-color {
  color: #00ffc2;
}

.btn-work {
  width: 300px;
  height: 60px;
  background-color: #282e2f;
  border: 3px solid #00ffc2;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.shapes {
  position: absolute;
  width: 350px;
  left: -150px;
  top: 450px;
  z-index: -1;
}

/*-----------------------------
    PROJECT
-----------------------------*/
.projects-container {
  position: relative;
  margin: 100px auto 0 auto;
}

.projects {
  height: 700px;
  width: 900px;
  margin: auto;
  border: 3px solid rgba(63, 64, 64, 0.36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
}

.title h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 40px;
  letter-spacing: 1px;
}

.project-container {
  width: 100%;
}

.project-card {
  position: relative;
  width: 400px;
  border: 2px solid #00ffc2;
  border-radius: 10px;
  margin-top: 80px;
  margin-left: 100px;
}

.project-left {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.project-left h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #00ffc2;
  font-weight: 400;
}

.project-right {
  width: 150px;
}

.project-text {
  text-align: justify;
  font-weight: 300;
  line-height: 25px;
  margin-left: 20px;
}

.project-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.prev-btn {
  background-color: #282e2f;
  border: 2px solid #00ffc2;
  border-radius: 10px;
  width: 90px;
  margin-right: 20px;
  color: white;
  font-size: 16px;
}

.project-img {
  position: absolute;
  width: 370px;
  border-radius: 10px;
  top: 35px;
  left: 300px;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

/*-----------------------------
    CONTACT
-----------------------------*/
.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 800px;
  margin: 150px auto 0 auto;
}

.contact-phone {
  width: 400px;
  margin-left: 300px;
  margin-bottom: 150px;
}

.bubble-right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
  line-height: 24px;
  width: 400px;
  height: 100px;
  background: #282e2f;
  border-radius: 15px;
  padding: 24px;
  text-align: center;
  color: white;
  margin-bottom: 100px;
  border: 3px solid #00ffc2;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  letter-spacing: 1px;
  left: 600px;
  top: 180px;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #00ffc2;
  border-top: 20px solid transparent;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 10px;
  bottom: -23px;
}

.bubble-left {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
  line-height: 24px;
  width: 700px;
  height: 280px;
  background: #282e2f;
  border-radius: 15px;
  padding: 24px;
  text-align: center;
  color: white;
  margin-bottom: 100px;
  border: 3px solid #00ffc2;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  letter-spacing: 1px;
  left: -200px;
  top: 380px;
}

.bubble-bottom-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #00ffc2;
  border-top: 20px solid transparent;
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 630px;
  bottom: -23px;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.label {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-container input {
  width: 300px;
  margin: 0 10px 0 10px;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #00ffc2;
  background-color: #282e2f;
  color: white;
  padding: 5px;
}

.message {
  font-size: 20px;
  margin: 13px;
  resize: none;
  height: 150px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #00ffc2;
  background-color: #282e2f;
  color: white;
  padding: 5px;
}

.field {
  width: 300px;
}

.sbmt-btn {
  width: 150px;
  height: 30px;
  margin: 5px auto 0 auto;
  color: white;
  background-color: #282e2f;
  border: 1px solid #00ffc2;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;
  font-size: 20px;
}

/*-----------------------------
    FOOTER
-----------------------------*/
footer {
  border-top: 2px solid #00ffc2;
  margin: auto;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.copyright {
  font-weight: 300;
  padding: 20px;
}

.copyright-text {
  color: #00ffc2;
  margin-right: 10px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*-----------------------------
    MEDIA QUERIES
-----------------------------*/
@media only screen and (max-width: 1580px) {
  .list {
    margin-right: 0px;
    margin-left: 100px;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
    width: 100%;
    margin: 0 0 20px 0;
  }
  .logo {
    margin-left: 50px;
    min-width: 275px;
  }
  nav {
    min-width: 400px;
  }
  .list {
    margin-left: 0;
    margin-right: 50px;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-svg {
    width: 1000px;
  }
  .triangle {
    display: none;
  }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 500px;
    right: 50px;
  }
  .sidebar img {
    width: 35px;
  }
  .shapes-svg {
    position: absolute;
    display: none;
    z-index: -1;
    top: 130px;
    right: 50px;
    width: 400px;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  .contact-phone {
    width: 300px;
    margin-left: 300px;
    margin-bottom: 150px;
  }
  .bubble-right {
    width: 300px;
    height: 100px;
    font-size: 20px;
    left: 600px;
    top: 100px;
  }
  .bubble-left {
    width: 600px;
    font-size: 20px;
    left: -100px;
    top: 260px;
  }
  .bubble-bottom-right:before {
    content: "";
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    left: 575px;
    bottom: 53px;
  }
  .input-container input {
    width: 250px;
  }
}

@media only screen and (max-width: 1160px) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 90px;
    right: 50px;
  }
  .sidebar img {
    width: 35px;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 1015px) {
  .header,
  .hero,
  .hero-parting,
  .sidebar {
    display: none;
  }
  .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-header .nav-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  .logo-text {
    font-size: 18px;
    letter-spacing: 1px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #00ffc2;
    margin: 5px;
  }
  .selfie-container-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .selfie-m {
    width: 180px;
    border: 2px solid #00ffc2;
    padding: 2px;
    border-radius: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  }
  .introduction-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 3px solid rgba(63, 64, 64, 0.36);
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
    max-width: 420px;
    border-radius: 10px;
    margin: 0 auto 50px auto;
    padding: 5px 0 5px 0;
  }
  .name-m {
    font-size: 28px;
    margin-bottom: 18px;
  }
  .profession-m {
    font-size: 18px;
  }
  .social-icons-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 200px;
    margin: 0 auto 0 auto;
  }
  .skills-container {
    display: none;
  }
  .skills-container-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 100px;
    position: relative;
  }
  .skills-m {
    position: relative;
    margin: 0 10px 0 10px;
    border: 3px solid rgba(63, 64, 64, 0.36);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    max-width: 420px;
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 10px;
  }
  .row-1-m {
    margin-top: 80px;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .row-2-m {
    margin-top: 130px;
    margin-bottom: 80px;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .svg-m {
    width: 50px;
  }
  .title-skills-m h1 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .react-svg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .node-svg {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .js-svg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .css-svg {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .express {
    position: absolute;
    top: 90px;
    right: 160px;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .html5 {
    position: absolute;
    top: 170px;
    left: 150px;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .scss {
    position: absolute;
    top: 300px;
    left: 160px;
  }
  .puppeteer {
    position: absolute;
    top: 400px;
    left: 160px;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .mongodb {
    position: absolute;
    top: 240px;
    left: 80px;
  }
  .postgresql {
    position: absolute;
    top: 380px;
    left: 30px;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .github {
    position: absolute;
    top: 190px;
    left: 30px;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  .bootstrap {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  .git {
    position: absolute;
    top: 180px;
    right: 50px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .figma {
    position: absolute;
    top: 70px;
    left: 30px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .heroku {
    position: absolute;
    top: 85px;
    right: 30px;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .netlify {
    position: absolute;
    top: 380px;
    right: 50px;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .json {
    position: absolute;
    top: 230px;
    right: 100px;
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
  }
  .flying-text {
    position: absolute;
    font-weight: 300;
    color: #00ffc2;
    -webkit-animation-name: fly-m;
            animation-name: fly-m;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  @-webkit-keyframes fly-m {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fly-m {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  .about-me-container {
    display: none;
  }
  .about-me-container-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 100px;
    position: relative;
  }
  .about-me-m {
    position: relative;
    margin: 0 10px 0 10px;
    border: 3px solid rgba(63, 64, 64, 0.36);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    max-width: 420px;
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 10px;
  }
  .needed-margin {
    margin-bottom: 30px;
  }
  .about-me-text-1-m,
  .about-me-text-2-m {
    width: 90%;
    max-width: 380px;
    text-align: justify;
    line-height: 25px;
    font-weight: 300;
  }
  .about-me-text-2-m {
    margin-top: 20px;
  }
  .btn-work-m {
    width: 300px;
    height: 60px;
    background-color: #282e2f;
    border: 3px solid #00ffc2;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .projects-container {
    display: none;
  }
  .projects-container-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 100px;
    position: relative;
  }
  .projects-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10px 0 10px;
    border: 3px solid rgba(63, 64, 64, 0.36);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 420px;
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 10px;
  }
  .title-m h1 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .project-container-m {
    width: 100%;
  }
  .project-card-m {
    width: 90%;
    margin: 30px auto 30px auto;
    border: 2px solid #00ffc2;
    border-radius: 10px;
  }
  .project-m {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px auto 10px auto;
  }
  .project-m h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #00ffc2;
    font-weight: 400;
  }
  .project-text-m {
    text-align: justify;
    font-weight: 300;
    line-height: 25px;
    width: 95%;
    margin: 0 auto 20px auto;
  }
  .project-btns-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .prev-btn-m {
    background-color: #282e2f;
    border: 2px solid #00ffc2;
    border-radius: 10px;
    width: 90px;
    margin-right: 20px;
    color: white;
    font-size: 16px;
  }
  .project-img-m {
    width: 250px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  .contact-container {
    display: none;
  }
  .contact-container-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    max-width: 420px;
    margin: 80px auto 0 auto;
  }
  .contact-phone-m {
    width: 90%;
    border-radius: 60px;
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  }
  .bubble-right-m {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: sans-serif;
    line-height: 12px;
    width: 200px;
    height: 70px;
    background: #282e2f;
    border-radius: 15px;
    text-align: center;
    color: white;
    margin-bottom: 100px;
    border: 3px solid #00ffc2;
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    letter-spacing: 1px;
    left: 165px;
    top: 110px;
  }
  .bubble-bottom-left-m:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #00ffc2;
    border-top: 20px solid transparent;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 10px;
    bottom: -23px;
  }
  .bubble-left-m {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: sans-serif;
    line-height: 24px;
    width: 150px;
    height: 70px;
    background: #282e2f;
    border-radius: 15px;
    text-align: center;
    color: white;
    margin-bottom: 90px;
    border: 3px solid #00ffc2;
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    letter-spacing: 1px;
    left: 60px;
    top: 380px;
  }
  .bubble-bottom-right-m:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #00ffc2;
    border-top: 20px solid transparent;
    display: inline-block;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 100px;
    bottom: -23px;
  }
  .form-m {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first-line-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .label-m {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  .input-container-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input-container-m input {
    width: 300px;
    margin: 0 10px 0 10px;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #00ffc2;
    background-color: #282e2f;
    color: white;
    padding: 5px;
  }
  .message-m {
    font-size: 20px;
    margin: 13px;
    resize: none;
    height: 150px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #00ffc2;
    background-color: #282e2f;
    color: white;
    padding: 5px;
  }
  .plane1 {
    color: #00ffc2;
  }
  .plane2 {
    color: #00ffc2;
  }
  .envelope {
    color: #00ffc2;
    position: absolute;
    background-color: #282e2f;
    border: 2px solid #00ffc2;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    top: 530px;
    left: 70px;
    -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  }
  footer {
    margin-top: 80px;
  }
}
/*# sourceMappingURL=style.css.map */