/*-----------------------------
    GENERAL
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #282e2f;
  min-width: 100%;
  margin: auto;
  --color-main: #00ffc2;
}

.card-svg {
  width: 100%;
  max-width: 1190px;
}

.shapes-svg {
  display: none;
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.parting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

/*-----------------------------
    NAVIGATION
-----------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin-bottom: 10em;
  width: 90%;
  margin: 0 auto 170px auto;
}

.logo {
  width: 40%;
}

.logo-text {
  color: var(--color-main);
  font-size: 1.4rem;
  letter-spacing: 2px;
}

nav {
  width: 60%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 200px;
  max-width: 1000px;
}

.list-item {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
}

.white {
  color: white;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 700px;
  right: 100px;
}

.sidebar img {
  max-width: 40px;
  margin-top: 2em;
}

/*-----------------------------
    HERO
-----------------------------*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  margin: auto;
}

/*-----------------------------
    SKILLS
-----------------------------*/
.skills-container {
  margin-top: 100px;
  position: relative;
}

.skills {
  position: relative;
  height: 700px;
  max-width: 900px;
  min-width: 900px;
  margin: auto;
  border: 3px solid rgba(63, 64, 64, 0.36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
}

.title-skills h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 40px;
  letter-spacing: 2px;
}

.svg-1 {
  width: 80px;
}

.svg-2 {
  width: 60px;
}

.react-svg {
  position: absolute;
  top: 250px;
  left: 150px;
}

.node-svg {
  position: absolute;
  top: 200px;
  right: 180px;
}

.js-svg {
  position: absolute;
  top: 500px;
  left: 250px;
}

.css-svg {
  position: absolute;
  top: 430px;
  right: 150px;
}

.express {
  position: absolute;
  top: 460px;
  right: 350px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.html5 {
  position: absolute;
  top: 400px;
  left: 100px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.scss {
  position: absolute;
  top: 180px;
  left: 300px;
}

.puppeteer {
  position: absolute;
  top: 230px;
  left: 450px;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.mongodb {
  position: absolute;
  top: 350px;
  left: 330px;
}

.postgresql {
  position: absolute;
  top: 600px;
  left: 380px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.github {
  position: absolute;
  top: 130px;
  left: 120px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.bootstrap {
  position: absolute;
  top: 300px;
  left: 700px;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.git {
  position: absolute;
  top: 330px;
  right: 330px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.figma {
  position: absolute;
  top: 580px;
  left: 130px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.heroku {
  position: absolute;
  top: 130px;
  right: 130px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.netlify {
  position: absolute;
  top: 570px;
  right: 250px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.json {
  position: absolute;
  top: 530px;
  right: 80px;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.flying-text {
  position: absolute;
  font-weight: 300;
  color: var(--color-main);
  -webkit-animation-name: fly;
          animation-name: fly;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg);
            transform: rotate(0deg) translateX(5px) rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg) translateX(5px) rotate(-180deg);
            transform: rotate(180deg) translateX(5px) rotate(-180deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg);
            transform: rotate(360deg) translateX(5px) rotate(-360deg);
    opacity: 1;
  }
}

@keyframes fly {
  0% {
    -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg);
            transform: rotate(0deg) translateX(5px) rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg) translateX(5px) rotate(-180deg);
            transform: rotate(180deg) translateX(5px) rotate(-180deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(5px) rotate(-360deg);
            transform: rotate(360deg) translateX(5px) rotate(-360deg);
    opacity: 1;
  }
}

/*-----------------------------
    ABOUT ME
-----------------------------*/
.about-me-container {
  position: relative;
  width: 900px;
  margin: 100px auto 0 auto;
}

.about-me {
  height: 700px;
  max-width: 900px;
  min-width: 900px;
  margin: auto;
  border: 3px solid rgba(63, 64, 64, 0.36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
}

.title h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: -1px;
  letter-spacing: 1px;
}

.about-me-text-1,
.about-me-text-2 {
  width: 50%;
  min-width: 500px;
  text-align: justify;
  line-height: 25px;
  font-weight: 300;
}

.txt-special-color {
  color: var(--color-main);
}

.btn-work {
  width: 300px;
  height: 60px;
  background-color: #282e2f;
  border: 3px solid var(--color-main);
  border-radius: 10px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.shapes {
  position: absolute;
  width: 350px;
  left: -150px;
  top: 450px;
  z-index: -1;
}

/*-----------------------------
    PROJECT
-----------------------------*/
.projects-container {
  position: relative;
  margin: 100px auto 0 auto;
}

.projects {
  height: 700px;
  width: 900px;
  margin: auto;
  border: 3px solid rgba(63, 64, 64, 0.36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
}

.title h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 40px;
  letter-spacing: 1px;
}

.project-container {
  width: 100%;
}

.project-card {
  position: relative;
  width: 400px;
  border: 2px solid var(--color-main);
  border-radius: 10px;
  margin-top: 80px;
  margin-left: 100px;
}

.project-left {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.project-left h3 {
  text-align: center;
  margin-bottom: 10px;
  color: var(--color-main);
  font-weight: 400;
}

.project-right {
  width: 150px;
}

.project-text {
  text-align: justify;
  font-weight: 300;
  line-height: 25px;
  margin-left: 20px;
}

.project-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.prev-btn {
  background-color: #282e2f;
  border: 2px solid var(--color-main);
  border-radius: 10px;
  width: 90px;
  margin-right: 20px;
  color: white;
  font-size: 16px;
}

.project-img {
  position: absolute;
  width: 370px;
  border-radius: 10px;
  top: 35px;
  left: 300px;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

/*-----------------------------
    CONTACT
-----------------------------*/
.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 800px;
  margin: 150px auto 0 auto;
}

.contact-phone {
  width: 400px;
  margin-left: 300px;
  margin-bottom: 150px;
}

.bubble-right {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
  line-height: 24px;
  width: 400px;
  height: 100px;
  background: #282e2f;
  border-radius: 15px;
  padding: 24px;
  text-align: center;
  color: white;
  margin-bottom: 100px;
  border: 3px solid var(--color-main);
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  letter-spacing: 1px;
  left: 600px;
  top: 180px;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--color-main);
  border-top: 20px solid transparent;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 10px;
  bottom: -23px;
}

.bubble-left {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
  line-height: 24px;
  width: 700px;
  height: 280px;
  background: #282e2f;
  border-radius: 15px;
  padding: 24px;
  text-align: center;
  color: white;
  margin-bottom: 100px;
  border: 3px solid var(--color-main);
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  letter-spacing: 1px;
  left: -200px;
  top: 380px;
}

.bubble-bottom-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--color-main);
  border-top: 20px solid transparent;
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 630px;
  bottom: -23px;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.label {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-container input {
  width: 300px;
  margin: 0 10px 0 10px;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid var(--color-main);
  background-color: #282e2f;
  color: white;
  padding: 5px;
}

.message {
  font-size: 20px;
  margin: 13px;
  resize: none;
  height: 150px;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--color-main);
  background-color: #282e2f;
  color: white;
  padding: 5px;
}

footer {
  border-top: 2px solid var(--color-main);
  margin: auto;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.copyright {
  font-weight: 300;
  padding: 20px;
}

.copyright-text {
  color: var(--color-main);
  margin-right: 10px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*-----------------------------
    GLOBAL FUNCTIONALITY
-----------------------------*/
.title-style {
  position: relative;
}

.title-style:after {
  content: "";
  position: absolute;
  height: 50px;
  width: 100px;
  right: -13px;
  bottom: -3px;
  border-right: 3px solid var(--color-main);
  border-bottom: 3px solid var(--color-main);
}

/*-----------------------------
    MEDIA QUERIES
-----------------------------*/
@media only screen and (max-width: 1580px) {
  .list {
    margin-right: 0px;
    margin-left: 100px;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
    width: 100%;
    margin: 0 0 20px 0;
  }
  .logo {
    margin-left: 50px;
    min-width: 275px;
  }
  nav {
    min-width: 400px;
  }
  .list {
    margin-left: 0;
    margin-right: 50px;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-svg {
    width: 1000px;
  }
  .triangle {
    display: none;
  }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 500px;
    right: 50px;
  }
  .sidebar img {
    width: 35px;
  }
  .shapes-svg {
    position: absolute;
    display: none;
    z-index: -1;
    top: 130px;
    right: 50px;
    width: 400px;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
}

@media only screen and (max-width: 1580px) {
  .contact-phone {
    width: 300px;
    margin-left: 300px;
    margin-bottom: 150px;
  }
  .bubble-right {
    width: 300px;
    height: 100px;
    font-size: 20px;
    left: 600px;
    top: 100px;
  }
  .bubble-left {
    width: 600px;
    font-size: 20px;
    left: -100px;
    top: 260px;
  }
  .bubble-bottom-right:before {
    content: "";
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    left: 575px;
    bottom: 53px;
  }
  .input-container input {
    width: 250px;
  }
}

@media only screen and (max-width: 1160px) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 90px;
    right: 50px;
  }
  .sidebar img {
    width: 35px;
    margin-left: 30px;
  }
}
/*# sourceMappingURL=style.css.map */