/*-----------------------------
    GENERAL
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #282e2f;
  width: 90%;
  margin: auto;
  --color-main: #00ffc2;
}

.card-svg {
  width: 100%;
  max-width: 1190px;
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.parting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10em;
}

/*-----------------------------
    NAVIGATION
-----------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin-bottom: 10em;
}

.logo {
  width: 40%;
}

.logo-text {
  color: var(--color-main);
  font-size: 1.4rem;
  letter-spacing: 2px;
}

nav {
  width: 60%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 200px;
  max-width: 1000px;
}

.list-item {
  letter-spacing: 3px;
  font-weight: bold;
}

.white {
  color: white;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 55%;
  right: 5%;
}

.sidebar img {
  max-width: 40px;
  margin-top: 2em;
}

/*-----------------------------
    HERO
-----------------------------*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  margin: auto;
}

/*-----------------------------
    SKILLS
-----------------------------*/
.skills-container {
  height: 1000px;
  margin-top: 5em;
  position: relative;
}

.skills {
  position: relative;
  height: 700px;
  width: 60%;
  max-width: 1000px;
  margin: auto;
  border: 3px solid rgba(63, 64, 64, 0.36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
}

.title-skills h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: 40px;
  letter-spacing: 2px;
}

.svg-1 {
  width: 80px;
}

.svg-2 {
  width: 60px;
}

.react-svg {
  position: absolute;
  top: 250px;
  left: 150px;
}

.node-svg {
  position: absolute;
  top: 200px;
  right: 180px;
}

.js-svg {
  position: absolute;
  top: 500px;
  left: 250px;
}

.css-svg {
  position: absolute;
  top: 430px;
  right: 150px;
}

.flying-text {
  position: absolute;
  font-weight: 300;
  color: var(--color-main);
  top: 370px;
  -webkit-animation-name: fly;
          animation-name: fly;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes fly {
  from {
    -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg);
            transform: rotate(0deg) translateX(10px) rotate(0deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg);
            transform: rotate(360deg) translateX(10px) rotate(-360deg);
    opacity: 1;
  }
}

@keyframes fly {
  from {
    -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg);
            transform: rotate(0deg) translateX(10px) rotate(0deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg);
            transform: rotate(360deg) translateX(10px) rotate(-360deg);
    opacity: 1;
  }
}

/*-----------------------------
    ABOUT ME
-----------------------------*/
.about-me-container {
  height: 1000px;
  margin-top: 5em;
  position: relative;
}

.about-me {
  height: 700px;
  width: 60%;
  max-width: 1000px;
  margin: auto;
  border: 3px solid rgba(63, 64, 64, 0.36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 10px;
}

.title h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: -1px;
  letter-spacing: 1px;
}

.about-me-text-1,
.about-me-text-2 {
  width: 50%;
  min-width: 500px;
  text-align: justify;
  line-height: 25px;
  font-weight: 300;
}

.txt-special-color {
  color: var(--color-main);
}

.btn-work {
  width: 300px;
  height: 60px;
  background-color: #282e2f;
  border: 3px solid var(--color-main);
  border-radius: 15px;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.shapes {
  position: absolute;
  width: 350px;
  left: 120px;
  top: 450px;
  z-index: -1;
}

/*-----------------------------
    GLOBAL FUNCTIONALITY
-----------------------------*/
.title-style {
  position: relative;
}

.title-style:after {
  content: "";
  position: absolute;
  height: 50px;
  width: 100px;
  right: -13px;
  bottom: -3px;
  border-right: 3px solid var(--color-main);
  border-bottom: 3px solid var(--color-main);
}
/*# sourceMappingURL=style.css.map */