$special-color: #00ffc2;
$background-color: #282e2f;
$base-color: white;

@import "general";
@import "landingpage";
@import "skills";
@import "aboutme";
@import "projects";
@import "contact";
@import "mediaqueries";
